*{
    font-family: 'Raleway', sans-serif;
    color: #000;
}

#body{
    margin: 0;
    padding: 0;
    background: #F68E5F;
    height: 100vh;
    font-size: .8rem;
    min-height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup{
    background: #A61C3C;
    width: 40vw;
    padding: 20px;
    border-radius: 20px;
    border: none;
    text-align: center;
    overflow: hidden;
    box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, .2);
    font-size: 16px;
}

.signup h1{
    font-weight: 300;
    margin-top: 100px;
    color: #000;
    font-size: 40px;
}

.signup input {
    display: block;
    width: 100%;
    padding: 0 16px;
    height: 44px;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    /* border: .5px solid #1CC676; */
    border: none;
    border-radius: 10px;
    /* background: #A61C3C; */
    
}
.signup textarea {
    display: block;
    width: 100%;
    padding: 0 16px;
    height: 100px;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    /* border: .5px solid #1CC676; */
    border: none;
    border-radius: 10px;
    /* background: #A61C3C; */
    resize: none;
    
}
.signup select {
    display: block;
    width: 100%;
    padding: 0 16px;
    height: 44px;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    /* border: .5px solid #1CC676; */
    border-radius: 10px;
    /* background: #45B69C; */
}


.txtb{
    margin: 20px 0;
    background: rgba(255, 255, 255, .5);
    border-radius: 6px;
}

.signup-btn{
    font-weight: 300;
    margin-top: 30px;
    margin-bottom: 20px;
    background: #1CC676;
    color: #fff;
    font-size: .9rem;
    border-radius: 44px;
    cursor: pointer;
    transition: 0.8s;

}



.signup-btn:hover{
    transform: scale(0.96);
}


::placeholder{
    color: #000;
}

@media(max-width: 900px){
    #body{
        height: 130vh;
    }
    .signup{
        width: 65vw;
    }
}