CardImg{
    width: 318px;
    height: 180px;
    border-radius: 10px;
    object-fit: cover;
}

#ticket{
    border-radius: 10px;
    border-color: chartreuse;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}